<div class="row mt-5">
  <div class="text-center">
    <p>What I Offer</p>
    <h3>Services</h3>
  </div>

  <div class="mt-5 card-container">
    <div class="card text-white mb-3 card">
      <div class="card-header text-center">
        <h3>Angular DEveloper</h3>
      </div>
      <div class="card-body">

        <ul style="text-align: start; list-style: none; display: flex; flex-wrap: wrap;">
          <li class="mt-3"> <i class="fa fa-check" aria-hidden="true"></i><span class="span">Angular Expertise</span></li>
          <li class="mt-3"> <i class="fa fa-check" aria-hidden="true"></i> <span class="span">JavaScript Proficiency</span></li>
          <li class="mt-3"> <i class="fa fa-check" aria-hidden="true"></i> <span class="span">Problem-Solving Skills</span>
          </li>
          <li class="mt-3"> <i class="fa fa-check" aria-hidden="true"></i> <span class="span">Component-Based Development</span>
          </li>
          <li class="mt-3"> <i class="fa fa-check" aria-hidden="true"></i> <span class="span">Continuous Learning</span></li>
        </ul>

      </div>
    </div>

    <div class="card text-white mb-3 card">
      <div class="card-header text-center">
        <h3>Frontend Developer</h3>
      </div>
      <div class="card-body">

        <ul style="text-align: start; list-style: none;">
          <li class="mt-3"> <i class="fa fa-check" aria-hidden="true"></i><span class="span">UI/UX Design</span></li>
          <li class="mt-3"> <i class="fa fa-check" aria-hidden="true"></i> <span class="span">Problem-Solving Skills</span></li>
          <li class="mt-3"> <i class="fa fa-check" aria-hidden="true"></i> <span class="span">Web Development Concepts</span>
          </li>
          <li class="mt-3"> <i class="fa fa-check" aria-hidden="true"></i> <span class="span">Debugging</span>
          </li>
          <li class="mt-3"> <i class="fa fa-check" aria-hidden="true"></i> <span class="span">Continuous Learning</span></li>
        </ul>

      </div>
    </div>

    <div class="card text-white mb-3 card">
      <div class="card-header text-center">
        <h3>Developeing Tools</h3>
      </div>
      <div class="card-body">

        <ul style="text-align: start; list-style: none;">
          <li class="mt-3"> <i class="fa fa-check" aria-hidden="true"></i><span class="span">visiual studio</span></li>
          <li class="mt-3"> <i class="fa fa-check" aria-hidden="true"></i> <span class="span">Bootstrap Framework</span></li>
          <li class="mt-3"> <i class="fa fa-check" aria-hidden="true"></i> <span class="span">javascript</span>
          </li>
          <li class="mt-3"> <i class="fa fa-check" aria-hidden="true"></i> <span class="span">Verson control system</span></li>
          <li class="mt-3"> <i class="fa fa-check" aria-hidden="true"></i> <span class="span">UI/UX Design and Development</span></li>
          <li class="mt-3"> <i class="fa fa-check" aria-hidden="true"></i> <span class="span">Continuous Learning</span>
          </li>
        </ul>

      </div>
    </div>
  </div>