<div class=" mt-5">
  <div class="text-center">
    <p>What Skills I Have </p>
    <h2>My Experience</h2>
  </div>

  <div class="mt-5" style="display: flex; justify-content: center; gap: 1.4rem; flex-wrap: wrap;">

    <div class="card text-white mb-3" style=" height: auto; border-radius: 15px; flex-wrap: wrap; ">
      <div class="card-body">
        <h3 class="card-title text-center p-4">Experience</h3>
        <div style="display: flex;  flex-wrap: wrap; gap: 1.4rem;">

          <div class="p-2">
            <div style="display: flex; gap: 1.4rem;" class="p-2">
              <i class="fa-solid fa-circle-check" style="font-size:24px"></i>
              <div>
                <h5>HTML</h5>
                <p>Experience</p>
              </div>
            </div>

            <div style="display: flex; gap: 1.4rem;" class="p-2">
              <i class="fa-solid fa-circle-check" style="font-size:24px"></i>
              <div>
                <h5>CSS</h5>
                <p>Experience</p>
              </div>
            </div>
            <div style="display: flex; gap: 1.4rem;" class="p-2">
              <i class="fa-solid fa-circle-check" style="font-size:24px"></i>
              <div>
                <h5>Bootstrap</h5>
                <p>Experience</p>
              </div>
            </div>
          </div>

          <div class="p-2">
            <div style="display: flex; gap: 1.4rem;" class="p-2">
              <i class="fa-solid fa-circle-check" style="font-size:24px"></i>
              <div>
                <h5>javascript</h5>
                <p>Experience</p>
              </div>
            </div>

            <div style="display: flex; gap: 1.4rem;" class="p-2">
              <i class="fa-solid fa-circle-check" style="font-size:24px"></i>
              <div>
                <h5>SAAS</h5>
                <p>Experience</p>
              </div>
            </div>

            <div style="display: flex; gap: 1.4rem;" class="p-2">
              <i class="fa-solid fa-circle-check" style="font-size:24px"></i>
              <div>
                <h5>Angular</h5>
                <p>Experience</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="card text-white mb-3" style=" height: auto; border-radius: 15px; flex-wrap: wrap; ">
      <div class="card-body">
        <h3 class="card-title text-center p-4">Experience</h3>
        <div style="display: flex;  flex-wrap: wrap; gap: 1.4rem;">

          <div class="p-2">
            <div style="display: flex; gap: 1.4rem;" class="p-2">
              <i class="fa-solid fa-circle-check" style="font-size:24px"></i>
              <div>
                <h5>Typescript</h5>
                <p>Experience</p>
              </div>
            </div>

            <div style="display: flex; gap: 1.4rem;" class="p-2">
              <i class="fa-solid fa-circle-check" style="font-size:24px"></i>
              <div>
                <h5>Angular mtrl</h5>
                <p>Experience</p>
              </div>
            </div>
            <div style="display: flex; gap: 1.4rem;" class="p-2">
              <i class="fa-solid fa-circle-check" style="font-size:24px"></i>
              <div>
                <h5>Prime Ng</h5>
                <p>Experience</p>
              </div>
            </div>
          </div>

          <div class="p-2">
            <div style="display: flex; gap: 1.4rem;" class="p-2">
              <i class="fa-solid fa-circle-check" style="font-size:24px"></i>
              <div>
                <h5>Postman</h5>
                <p>Experience</p>
              </div>
            </div>

            <div style="display: flex; gap: 1.4rem;" class="p-2">
              <i class="fa-solid fa-circle-check" style="font-size:24px"></i>
              <div>
                <h5>GIT</h5>
                <p>Intermediate</p>
              </div>
            </div>

            <div style="display: flex; gap: 1.4rem;" class="p-2">
              <i class="fa-solid fa-circle-check" style="font-size:24px"></i>
              <div>
                <h5>NGRX</h5>
                <p>Basic</p>
              </div>
            </div>
          </div>
        </div>
      </div>
   
    </div>
    
  </div>
</div>