<div class="container-fluid mt-5">
    <app-firstpage id="home"></app-firstpage>
    <app-secondpage id="about"></app-secondpage>
    <app-thirdpage id="Experience"></app-thirdpage>
    <app-fourthpage id="Services"></app-fourthpage>
    <app-fifthpage id="Portfolio"></app-fifthpage>
    <app-sixthpage id="Contact"></app-sixthpage>
</div>

<div class="text-center" style="background-color: rgb(42, 42, 53);">
    <div>
        <h3 class="mt-5">sachin</h3>
    </div>

    <div class="mt-5" style="display: flex; justify-content: center; align-items: center; gap: 2rem; flex-wrap: wrap;">
        <p><a href="#home" class="cursor">Home</a></p>
        <p><a href="#Experience" class="cursor">Experience</a></p>
        <p><a href="#Services" class="cursor">Services</a></p>
        <p><a href="#Portfolio" class="cursor">Portfolio</a></p>
        <p><a href="#Contact" class="cursor">Contact</a></p>
        <p><a href="#about" class="cursor">About</a></p>

    </div>

    <div class="mt-5" style="display: flex; justify-content: center; align-items: center; gap: 2rem; flex-wrap: wrap;">
        <a href="https://www.linkedin.com/in/sachin-Developer"><i class='fab fa-linkedin cursor'
                style='font-size:36px'></i></a>
        <a href="https://www.facebook.com/profile.php?id=100009115245069"><i class='fab fa-facebook-square cursor'
                style='font-size:36px'></i></a>
        <a href="https://www.instagram.com/i__sachinyat.sck"><i class='fab fa-instagram cursor'
                style='font-size:36px;'></i></a>

    </div>

    <div class="mt-5" style="display: flex; justify-content: center; align-items: center; gap: 2rem; flex-wrap: wrap;">
        <p class="cursor">Ⓒ sachinn kumar. All right served</p>

    </div>

</div>