<div class="mt-5">
    <div class="text-center">
      <p>My Recent Work</p>
      <h3>Portfolio</h3>
    </div>
    <div class="mt-5 card-container">
      <div class="card">
        <img src="assets\projectpic\images (1).jpg" class="card-img-top" alt="...">
        <div class="card-body mt-4">
          <p class="card-text">Delta - Delta is flight/Hotel Booking website</p>
          <button type="button" class="btn btn-outline-primary button"><a href="https://www.delta.com">Let's GO</a></button>
        </div>
      </div>

      <div class="card">
        <img src="assets\projectpic\csx.jpg" class="card-img-top" alt="...">
        <div class="card-body mt-4">
          <p class="card-text">CSX transportation network provides rail services.</p>
          <button type="button" class="btn btn-outline-primary button"><a href="https://www.csx.com/index.cfm/about-us/safety/bridges">Let's GO</a></button>
          
        </div>
      </div>
      
      <div class="card">
        <img src="assets\projectpic\3rd.jpg" class="card-img-top" alt="...">
        <div class="card-body mt-4">
          <p class="card-text">Employee Management System(ADP) - Manage Employee Data.</p>
          <button type="button" class="btn btn-outline-primary button"><a href="https://www.adp.com/resources/articles-and-insights/articles/e/employee-management.aspx">Let's GO</a></button>
        </div>
      </div>

      <div class="card">
        <img src="assets\projectpic\4th.jpg" class="card-img-top" alt="...">
        <div class="card-body mt-4">
          <p class="card-text">My guitar store website using only javascript</p>
          <button type="button" class="btn btn-outline-primary button"><a href="https://www.delta.com">Let's GO</a></button>
        </div>
      </div>

      <div class="card">
        <img src="assets\projectpic\5th.png" class="card-img-top" alt="...">
        <div class="card-body mt-4">
          <p class="card-text">Somed make up the bulk of the card's content.</p>
          <button type="button" class="btn btn-outline-primary button"><a href="https://www.delta.com">Let's GO</a></button>
        </div>
      </div>

      

      <div class="card">
        <img src="assets\projectpic\6th.jpg" class="card-img-top" alt="...">
        <div class="card-body mt-4">
          <p class="card-text">My portfolio website using Angular & Bootstrap</p>
          <button type="button" class="btn btn-outline-primary button"><a href="https://github.com/sachin98114/my_portfolio/tree/main">Let's GO</a></button>
        </div>
      </div>

    </div>
  </div>
